.all-browsers {
    margin: 0;
    padding: 0px;
    background-color: lightgray;
}

.all-browsers>h1,
.browser {
    margin: 10px;
    padding: 5px;
}

.browser {
    background: white;
}

.browser>h2,
p {
    margin: 4px;
    font-size: 90%;
}
h1 {
    text-align: center;
    color: white;
}

body {
    background: url(./img/bg.jpg)no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-top: 15px;
    position: absolute;
    bottom: 0;  /* 4. 设置页脚position为absolute之后，再将其bottom值设为0，即可使其处于页面的底部 */
    width: 100%;
}
